.h2{
    color:aliceblue;

}
.close{
    font-weight: 700;
    color:aliceblue;
    font-size: 27px;
    width: 50px;
    border: none;
    background:none;
    color: white;
    background: none ;

}